* {
  margin:0;
}

.divider-75 {
  width:100%;
  height:15px;
  background:url(../../assets/img/divider-100.png);
  display:block;
  margin:20px auto 20px auto;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

