#promo {
  text-align:center;
  padding:40px;
  background-image:url(../../assets/img/irrigation_areas_cropped_2.jpg);
  background-size:cover;
}

.protocol-stubs {
  text-align:left;
  padding:15px;
  /*max-width:500px;*/
  /*font-size:14px;*/
  background-size:cover;
}

.protocol-stub-even {
  text-align:center;
  padding:40px;
  background-size:cover;
  background-color:#e8e8e8;
}

#promo .jumbotron {
  border-radius:20px;
  padding:200px;
  background-color:rgba(0,0,0,0.20);
  /*max-width:800px;*/
  margin:auto;
  color:#f8f3f3;
}

.protocol-stubs .jumbotron {
  border-radius:20px;
  border-radius:4px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);
  box-shadow:0 1px 2px rgba(0,0,0,.075);
  padding:40px;
  background-color:rgba(0,0,0,0);
  max-width:800px;
  margin:auto;
}

.action-button {
  background:#66d7d7;
}

.action-button1 {
  background:#9ea3a4;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
  align-content:center;
}

